In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [11]:
my_df = pd.DataFrame({"Height" : [1.98,1.77,1.76,1.80,1.64],
                    "Weight" : [99,81,70,86,82]})
my_df

   Height  Weight
0    1.98      99
1    1.77      81
2    1.76      70
3    1.80      86
4    1.64      82

In [12]:
scale_standard = StandardScaler()

In [13]:
scale_standard.fit_transform(my_df) #Standardization

array([[ 1.73445477,  1.646894  ],
       [-0.18257419, -0.27804704],
       [-0.27386128, -1.45439989],
       [ 0.09128709,  0.2566588 ],
       [-1.36930639, -0.17110587]])

In [14]:
#Or we if just want select columns
#scale_standard.fit_transform(my_df[["Height"]])

In [15]:
#Turn back to pandas data frame
my_df_standardized = pd.DataFrame(scale_standard.fit_transform(my_df), columns = my_df.columns)

In [16]:
my_df_standardized

     Height    Weight
0  1.734455  1.646894
1 -0.182574 -0.278047
2 -0.273861 -1.454400
3  0.091287  0.256659
4 -1.369306 -0.171106

In [17]:
#Normalize
scale_norm = MinMaxScaler()
scale_norm.fit_transform(my_df)

array([[1.        , 1.        ],
       [0.38235294, 0.37931034],
       [0.35294118, 0.        ],
       [0.47058824, 0.55172414],
       [0.        , 0.4137931 ]])

In [19]:
#Change to data frame
my_df_normalized = pd.DataFrame(scale_norm.fit_transform(my_df), columns = my_df.columns)

In [20]:
my_df_normalized

     Height    Weight
0  1.000000  1.000000
1  0.382353  0.379310
2  0.352941  0.000000
3  0.470588  0.551724
4  0.000000  0.413793